body {
    font-family: Montserrat, sans-serif;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.header-box {
    display: flex;
    flex-direction: column;
    margin: 60px 120px 0 120px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main-columns {
    display: flex;
    flex-flow: row-reverse ;
    margin: 0 120px 0 120px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.cv-photo-box {
    display: flex;
    justify-content: center;
}

.photo {
    width: 20%;
    height: 100%;
}

.header-first {
    display: flex;
    justify-content: center;
    margin: 25px 0 10px 0;
    font-size: 30px;
}

.position {
    display: flex;
    justify-content: center;
    margin: 5px 0 25px 0;
}
.highlights {
    color: #35a5f6;
    margin: 0 5px 0 5px;
}

main {
    width: 100%;
    margin-left: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.description-box {
    width: 960px;
    display: flex;
    justify-content: center;
    margin: 30px 120px 30px 120px;
}

.description-text {
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    text-align: justify;
}

aside {
    width: 450px;
}

.header-second {
    font-size: 25px;
    margin: 25px 0 25px 0;
}

.job-first {
    width: 100%;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.job-first-description {
    width: 45%;
    font-size: 20px;
}

.job-first-list {
    width: 100%;
    margin-left: -24px;
}

.highlights-list {
    color: #35a5f6;
    font-weight: bold;
}

.job-second {
    margin-bottom: 10px;
}

.job-second-description {
    width: 38%;
    font-size: 20px;
}

.job-second-list {
    width: 100%;
    margin-left: -24px;
}

.list-item {
    margin: 10px 0 10px 0;
    font-size: 15px;
    width: 97%;
    text-align: justify;
}

.footer-box {
    width: 960px;
    display: flex;
    justify-content: center;
    margin: 20px 120px 30px 120px;
}

.footer-text {
    width: 100%;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.5);
    text-align: justify;
    margin-bottom: 60px;
}
