* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Montserrat, sans-serif;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.header-box {
    display: flex;
    flex-direction: column;
    margin: 60px 120px 0 120px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.main-columns {
    display: flex;
    flex-flow: row-reverse ;
    margin: 0 120px 0 120px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.cv-photo-box {
    display: flex;
    justify-content: center;
}

.photo {
    width: 40%;
}

.full-name {
    display: flex;
    justify-content: center;
    margin: 25px 0 10px 0;
    font-size: 30px;
}

.position {
    display: flex;
    justify-content: center;
    margin: 5px 0 25px 0;
}

.highlights {
    color: #35a5f6;
    margin: 0 5px 0 5px;
}

main {
    width: 100%;
    margin-left: 40px;
}

.description-box {
    display: flex;
    justify-content: center;
    margin: 30px 120px 30px 120px;
}

.description-text {
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    text-align: justify;
}

.experience-title {
    font-size: 25px;
    margin: 25px 0 25px 0;
}

.work-experience-part-one {
    width: 100%;
    margin-bottom: 12px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.work-experience-part-one-description {
    width: 60%;
    font-size: 20px;
}

.work-experience-part-one-list {
    width: 100%;
    margin-top: 20px;
    padding-left: 16px;
}

.highlights-list {
    color: #35a5f6;
    font-weight: bold;
}

.work-experience-part-two {
    margin-bottom: 10px;
}

.work-experience-part-two-description {
    width: 60%;
    font-size: 20px;
}

.work-experience-part-two-list {
    width: 100%;
    margin-top: 20px;
    padding-left: 16px;
}

.list-item {
    font-size: 15px;
    margin: 10px 0 10px 0;
    text-align: justify;
}

.contact-education-skills-box {
    width: 50%;
}

.contact-title {
    font-size: 20px;
    margin: 25px 0 10px 0;
}

.phone-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

.phone-details {
    margin: 10px 0 15px 10px;
}

.mail-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

.mail-details {
    margin: 10px 0 15px 10px;
}

.linkedin-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

.linkedin {
    display: flex;
    text-align: justify ;
}

.linkedin-details {
    margin: 10px 0 15px 10px;
}

.education-title {
    font-size: 20px;
    margin: 30px 0 15px 0;
}

.education-item-details {
    font-weight: bold;
}

.relevant {
    margin-bottom: 15px;
}

.relevant-skills-title {
    font-size: 20px;
    margin: 35px 0 25px 0;
}

.relevant-skills-item {
    margin-left: 1px;
    margin-bottom: 15px;
}

.footer-box {
    display: flex;
    justify-content: center;
    margin: 25px 120px 30px 120px;
}

.footer-text {
    width: 100%;
    font-size: 12px;
    color: #b4b4b4;
    text-align: justify;
    margin-bottom: 60px;
}

@media (max-width: 992px) {
    .header-box {
        margin: 60px 30px 25px 30px;
    }

    .main-columns{
        flex-direction: column;
        margin: 30px 30px 0 30px;
        align-items: center;
    }

    main {
        margin-left: 0;
    }

    .description-box {
        margin: 0 30px 0 30px;
    }

    .description-text {
        font-size: 13px;
    }

    .photo {
        width: 200px;
    }

    .position {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .center {
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .contact-education-skills-box {
        width: 100%;
    }

    .footer-box {
        margin: 25px 40px 30px 40px;
    }

    .margin-bottom {
        margin-bottom: 30px;
    }

    .margin-lists {
        margin-left: -10px;
    }

    .work-experience-part-one {
        margin: 0 10px 12px 5px;
    }

    .work-experience-part-two {
        margin: 0 10px 10px 5px;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .relevant-skills-title {
        margin-top: 55px;
    }

    .margin-lists {
        margin-top: 30px;
    }
}
